
/* particles ko lagi ho style haru: complex xa */
body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; } 
 #particles-js{ position:absolute; width: 100%; height: 100%; background-color: rgb(23, 3, 40); background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
 .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; }
  .js-count-particles{ font-size: 1.1em; }
   #stats, .count-particles{ -webkit-user-select: none; user-select: none; margin-top: 5px; margin-left: 5px; }
   #stats{ border-radius: 3px 3px 0 0; overflow: hidden; }
    .count-particles{ border-radius: 0 0 3px 3px; }

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
.hello, .nav, .skills1, .work, .exp, .edu, .awards, .contact {
    position: relative;
    z-index: 1;
}

/* my code */
body {
    background-color:
        white;
}

* {
    padding: 0;
    margin: 0;
}

.intro {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    background-color: whitesmoke;
}

p {
    font-size: 20px;
    color: white;
}

h1 {
    font-size: 40px;
  color: #8785cc;
color: linear-gradient(116deg,rgba(135, 133, 204, 1) 4%, rgba(131, 127, 240, 1) 18%, rgba(160, 141, 235, 1) 51%, rgba(117, 92, 209, 1) 100%);
    text-transform: uppercase;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

span {
    font-size: 40px;
    color: white;
    
}

.button1 {
    background-color: aqua;
    border: none;
    border-radius: 10%;
    padding: 10px;
    font-size: 20px;
}

.button2 {
    background-color: aqua;
    border: none;
    border-radius: 10%;
    padding: 10px;
    font-size: 20px;
}

.button3 {

    background-color: aqua;
    border: none;
    border-radius: 10%;
    padding: 10px;
    font-size: 20px;
    margin-left: 700px;
    margin-bottom: 200px;
    margin-top: 210px;

}

.nav {
    display: grid;
    grid-template-columns: 600px 100px 100px 100px 100px 100px 100px;
    gap: 30px;
    background-color: rgba(33, 52, 127, 0.2);
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
     backdrop-filter: blur(10px); 
     /* nav bar ko scroll garda blur ko lagi */
    -webkit-backdrop-filter: blur(10px); 
    z-index: 100;
}

.nav>h1 {
    color: white;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 5px;
}

.name {

    display: flex;
    margin-top: 15px;
    margin-left: 50px;
}

.nav>button {
    background-color: transparent;
    color: white;
    border-radius: 10%;
    border: none;
    font-size: 15px;
    padding: 3px;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
    height: 30px;
    width: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav>button:hover {
    background-color: orangered;
    color: white;
    transform: scale(1.1);
}
.background {
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.hello {
    display: grid;
    grid-template-rows: 300px 50px 50px;
    gap: 20px;
    height: 100vh;
    background-image: url("2.png");
    background-size: 500px;
    background-position: center 120px;
    background-repeat: no-repeat;



}

.hello>a>button {
    margin-left: 150px;
    background-color: blue;
    border: none;
    border-radius: 10%;
    padding: 10px;
    font-size: 20px;
    margin-top: 130px;
}
.hello>a>button:hover {
    background-color: transparent;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 10px blue, 0 0 40px blue, 0 0 80px blue;
}
.hello>.scroll{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
margin-top: 200px;

}
.jod{
    font-size: 50px;
    text-shadow: 0 0 10px blue, 0 0 40px blue, 0 0 80px blue ;
}
.sp{
    font-size: 20px;
    color: white;
    
}
.hello1>p{
    margin-top: 20px;
}
.hello1 {
    margin-left: 150px;
    margin-top: 250px;
}
.button3{
margin-left: 0;
margin-top: 0;
margin-bottom: 0;

}


.rajan {
    margin-left: 40px;
    margin-top: 50px;
    height: 500px;
    width: 500px;
    border-radius: 10%;
}

.intro1 {
    margin-top: 120px;
    margin-left: 150px;
}

.container1 {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 30px;
    margin-top: 100px;
    background-color: #0F4C75;
    height: 100%;
    width: auto;
    justify-items: center;
    align-items: center;
}

.hult {
    height: 300px;
    width: 500px;
    border-radius: 10%;
}

.krishi {
    height: 300px;
    width: 500px;

}

.work {
    background-color: #0F4C75;
    height: 100%;

}

.work>h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: orangered;

}

.name {
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    margin-right: 1000px;

}

h2 {
    color: orangered;
    list-style: none;
}


.krishi {
    transition: 0.4s all ease-in-out;
}

.krishi:hover {
    border-radius: 50px;
    transform: rotate(10deg);
}

.rajan {
    transition: 0.4s all ease-in-out;
}

.rajan:hover {
    border-radius: 50px;
    transform: scale(1.4);
}

.exp {
    background-color: #3D0C64;
}

.exp>h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: orangered;
    margin-top: 50px;
}

.edu {
    margin-top: 150px;
}

.container3 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 100px;


    justify-content: center;
    align-items: center;
}

.container3>div {
    background-color: #3282B8;
    height: 700px;
    width: 400px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.edu>h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: orangered;
    margin-top: 50px;
}

.container3>.edu2 {
    background-color: white;
}

.container3>.edu3 {
    background-color: white;
}

.container3>.edu6 {
    background-color: white;
}

.container4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;

}

.container4>div {
    background-color: #33808e;
    text-align: center;
    height: 100px;
    width: 200px;
    border-radius: 5px;
    padding: 15px;
}

.skills>h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: orangered;
    margin-top: 100px;
}


/* animation ko lagi card ko */
.container {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    position: relative;
    margin: 20px 0;
    width: 300px;
    height: 400px;
    background: #fff;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, .5), 0 20px 20px rgba(0, 0, 0, .5);
    transition: 1s;
}

.card:hover {
    z-index: 10000;
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5), 0 10px 100px rgba(0, 0, 0, .5);
}

.card .Box {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    position: relative;
    transform-origin: left;
    z-index: 1;
    transition: 1s cubic-bezier(.15, 1.7, .84, .58);
    background: #111;
}

.card .Box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover .Box {
    transform: rotateY(-135deg);
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: -1;
}

.tiltcard {
    width: 400px;
    height: 400px;
    /* background: rgba(255,255,255,0.25); */
    background: linear-gradient(to bottom right, #0a0f0d, #005b2e);

    margin: 0 20px;
    border-radius: 10px;
    border: 1px solid rgba(67, 236, 11, 0.5);
}

.awards {
    background: #0a122b;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tiltcard1 {
    width: 400px;
    height: 300px;
    background: transparent;
    margin: 0 20px;
    border-radius: 10px;

}

.container5 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  
    background: linear-gradient(45deg, #3D0C64, #080E40);
    padding-top: 80px;
    padding-bottom: 80px;
}

.skills {
    background-color: transparent;
    border-radius: 5%;
    border: 2px solid white;
    height: 350px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.skills1{
  height: 100%;
   background: linear-gradient(45deg, #3D0C64, #080E40);
}
.skills1>h1 {
    color: white;
    font-size: 50px;
    text-align: center;
padding-top: 50px;
}
.tiltcard1>h1 {
    color: gray;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

.tiltcard1>button {
    border: 2px solid #2bcf15;
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 15px;
}
.tiltcard1>button:hover {
    background-color: green;
    color: white;
    transform: scale(1.1);
}


/* for mouse scroll down */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  /* margin-top: 125px; */
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}



